/*Stylesheet for mint-clone project*/

* {
  color: #333;
}

#wrapper {
  margin: 0 264px;
}

#header-whitespace {
  height: 100px;
}

#logo-and-tags {
  height: 100px;
  position: relative;
}

.header-logo {
}

.header-links {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-links a {
  text-decoration: none;
  color: #333;
}

#form-container {
  margin: 0;
  padding: 35px;
  border: solid 1px gray;
  border-top: none;
  height: 690px;
}

#signup fieldset {
  border: none;
}

#signup legend {
  font-size: 30px;
  width: 400px;
  margin-bottom: 30px;
}

.signup input{
  display: block;
  margin: 20px 0;
  height: 25px;
  width: 300px;
}

#phone {
  margin-bottom: 0;
}

#phone-notice {
  margin: 0;
  font-size: 10px;
}

#password {
  margin-top: 20px;
}

.remember {
  padding-top: 0;
  padding-bottom: 20px;
}

#remember {
  float: left;
}

#remember-text {
  float: left;
}

.btn {
  height: 34px;
  width: 110px;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: teal;
}

#terms-statement {
  font-size: 12px;
}

#sidebar {
  float: right;
  border-left: solid 1px gray;
  width: 191px;
  height: 559px;
}

#sidebar h3 {
  display: inline;
  vertical-align: top;
  padding-left: 15px;
}

#sidebar ul {
  display: block;
  margin: 5px 0 0 -10px;

}

#sidebar li {
  color: #999;
  float: left;
  margin: 10px 0;
}

.footer {
  text-align: center;
  margin-top: 65px;
}

.footer-links {
  margin: 10px 0;
}

#footer-links a {
  padding: 0 20px;
  font-size: 16px;
}

.security-links {
margin-top: 100px;
margin-bottom: 30px;
}

.copyright {
  font-size: 12px;
}